// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  @media (min-width: $screen-lg) {
    margin-bottom: 30px;
  }
  
  .logo {
    display: block;
    max-width: 122px;
  }

  .burger {
    display: flex;
    margin-top: 5px;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }
}

.top-line {
  background: #000;
  color: #fff;
  font-size: 12px;

  @media (min-width: $screen-xl) {
    font-size: 14px;
  }

  &__info-item {
    display: inline-block;
    padding: 10px 15px 10px 0;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
    }

    a {
      text-decoration: none;
      display: block;
      color: #fff;
      padding: 10px;
    }
  }
}

.mid-line {
  padding: 12px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid #F0F1F5;

  @media (min-width: $screen-lg) {
    padding: 20px 0;
    position: initial;
    border: none;
  }
}

.nav-line {

  &__inner {
    display: flex;
  }
}

.main-nav {
  list-style: none;
  
  &__item {

    &.active {

      .main-nav__link {
        color: #BA0000;

        &:before {
          content: "";
          height: 4px;
          background: #BA0000;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    } 
  }

  &__link {
    display: block;
    padding: 17px 24px;
    color: #000;
    background-color: $light-gray;
    position: relative;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #000;
    }
  }

  .dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0px 12px 32px rgba(26, 25, 25, 0.16), 0px 0px 8px rgba(26, 25, 25, 0.15);
    border-radius: 4px;
    border:none;
  }

  .dropdown-item {
    color: #000;
  }
  .dropdown-item:hover, .dropdown-item:focus {
    background: #F0F1F5;
    color: #BA0000;
  }
}

.search {
  flex-grow: 1;
  display: flex;
  position: relative;
  background: #FFFFFF;
  border: 2px solid #F0F1F5;
  box-sizing: border-box;
  border-radius: 4px;

  .form-control {
    flex-grow: 1;
    border: none;
  }

  .btn {
    background-color: transparent;
    border:none;
    padding: 8px 10px;
    min-width: auto;

    &:hover {
      background-color: transparent;
    }
  }
}

@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  }
 }