// В этом файле должны быть стили для БЭМ-блока options-carousel, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.options-carousel {

  $block-name:                &; // #{$block-name}__element

  margin-top: 30px;
  margin-bottom: 25px;

  .slick-list,
  .slick-track {
    display: flex;
  }

  .slick-track:before, .slick-track:after {
    display: flex;
    height: 100%;
    content: '';
}

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 64px;
    height: 64px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.slick-prev {
      left: 16px;

      &:before {
        content:"";
        color: #000;
        background-image: url(../img/ic_arrow-left.svg) !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 24px;
        height: 24px;
        display: block;
      }
    }
    &.slick-next {
      right: 16px;

      &:before {
        content:"";
        color: #000;
        background-image: url(../img/ic_arrow-right.svg) !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 24px;
        height: 24px;
        display: block;
      }
    }
  }

}
